body {
    background-color: lightblue;
}



#test {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 20px;
    text-shadow: 2px 2px 2px #000000;
    text-overflow: ellipsis;
    text-overflow: clip;
    width: 50%;
    border-color: black;
    border-style: solid;
    border-width: 10px;
    border-radius: 20px;
}

.test {
    color: green;
}

.test1 {
    color: blue;
}



h2::first-letter{
    color: red;
    font-size: 20px;
    border-radius: 10px;
    background-color: gold;
}

h2::before{
    content: "Hello";
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 10px;
}

h2::after{
    content: "Hello";
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 10px;
}

a:link{
    color: red;
}

a:visited{
    color: green;
}

a:active{
    color: blue;
}
